* {
  margin: 0;
  text-decoration: none;
  color: black;
}

body {
  background-color: rgb(253, 251, 251);
}

main {
  background-image: linear-gradient(45deg, rgb(64, 180, 64), greenyellow);
  padding: 10px;
  border-radius: 10px;
}

#cabecalho {
  position: fixed;
  top: 0;
  padding: 5px;
  width: 100%;
  background-image: linear-gradient(25deg, white, rgb(255, 210, 217));
  opacity: 70%;
}

#titulo {
  margin-left: 540px;
}

#minha_foto {
  width: 300px;
  border-radius: 90px;
  display: block;
  margin: 30px;
  margin-left: 500px;
}

.lado-esquerdo {
  width: 300px;
  background-image: linear-gradient(20deg, rgb(217, 255, 168), rgb(153, 255, 58));
  display: inline-block;
  text-align: center;
  padding: 20px;
  line-height: 30px;
  font-family: sans-serif;
  font-size: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.lado-direito {
  background-image: linear-gradient(35deg, pink, rgb(255, 151, 255));
  display: inline-block;
  width: 600px;
  height: 500px;
  font-size: 30px;
  font-family: sans-serif;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  vertical-align: top; /* Colocando o bloco no meio, entre o aside e a lista */
}

.tabela {
  margin-top: 30px;
  text-align: center;
}

aside {
  background-image: linear-gradient(rgb(255, 255, 132), rgb(252, 255, 92));
  width: 200px;
  height: 400px;
  font-size: 25px;
  text-align: center;
  float: right;
  padding: 20px;
  display: inline-block;
  border-radius: 10px;
}

.aside-img {
  width: 50%;
}

#rodape {
  background-color: brown;
  height: 100px;
}

.rodape-info {
  color: white;
  text-align: center;
  margin: 20px;
  align-items: center;
}

.links {
  color: white;
  margin: 20px;
  padding: 20px;
}

.links:hover {
  color: white;
  margin: 20px;
  background-color: rgb(129, 31, 31);
  padding: 20px;
  border-radius: 25px;
}
