:root {
  --primary-purple: rgb(115, 66, 228);

  --primary-black: rgb(18, 18, 20);

  --primary-white-font: rgb(255, 255, 230);
}

* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  background: var(--primary-black);
  color: var(--primary-white-font);
}

a {
  color: var(--primary-white-font);
  text-decoration: none;
}

a:hover {
  color: var(--primary-white-font);
}

ul {
  list-style: none;
}

button {
  border: unset;
  cursor: pointer;
}

body {
  background-color: var(--primary-black);
}

.header {
  display: flex;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  background-color: var(--primary-black);
  padding: 15px;
  align-items: center;
  justify-content: space-between;
  color: var(--primary-white-font);
}

.logo {
  cursor: pointer;
  margin-top: 10px;
}

.logo-mobile {
  display: none;
}

.header-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.select-dropdown {
  border-radius: 10px 0 0 10px;
  background: linear-gradient(35deg, rgb(115, 66, 228), rgb(155, 117, 243));
  color: black;
  font-weight: 900;
}

.dropdown-menu {
  background: linear-gradient(35deg, rgb(115, 66, 228), rgb(155, 117, 243));
}

.dropdown-item {
  font-weight: 900;
}
.dropdown-item:hover {
  background-color: var(--primary-purple);
  color: white;
}

.input-search {
  border: none;
  outline: none;
  padding: 0 10px;
}

.input-group {
  flex-wrap: nowrap;
}

.input-group>.form-control, .input-group>.form-select {
  width: 70%;
}

.button-search {
  border-radius: 0 10px 10px 0;
  padding: 3px;
  width: 10%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 10px;
  border-radius: 0 10px 10px 0;
  padding: 3px;
  width: 10%;
  background-color: white;
}

#btn-hamburguer {
  display: flex;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border: none;
  background: none;
}

#hamburguer-menu {
  width: 20px;
  margin-top: -5px;
  color: #D7D7D7;
}

#hamburguer-menu::after, #hamburguer-menu::before{
  content: '';
  display: block;
  width: 20px;
  height: 2px;
  background: currentColor;
  margin-top: 5px;
  transition: 0.5s;
  position: relative;
}

.header-container.active #hamburguer-menu::before {
  transform: rotate(135deg);
}

.header-container.active #hamburguer-menu::after {
  transform: rotate(-135deg);
  margin-top: -2px;
}

.aside-menu {
  display: flex;
  visibility: hidden;
  position: absolute;
  gap: 9rem;
  background-color: var(--primary-black);
  top: 65px;
  left: 0;
  width: 0;
  height: calc(100vh - 10%);
  z-index: 90;
  transition: 0.5s;
  overflow: auto;
}

.toggle-search {
  display: none;
}

.sign-up-desktop{
  color: var(--primary-white-font);
}

.sign-up-desktop:hover {
  background-color: var(--primary-purple);
}

.header-container.active .aside-menu {
  visibility: visible;
  width: 35%;
}

.cancel-toggle-search {
  display: none;
}

.main-carousel {
  margin-top: 65px;
  margin-bottom: 10px;
  width: 100%;
}

.img-carousel {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.carousel-caption {
  font-size: 1.3em;
  text-shadow: 1.5px 1.5px 2px rgba(0, 0, 0);
}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
    width: 200px;
}

.container-anime {
  padding: 10px 0;
}

.title-contents {
  color: var(--primary-purple);
  font-weight: 900;
  margin: 10px 2rem;
}

.content {
  display: flex;
  flex-flow: column nowrap;
  gap: 3rem;
}

.anime-content, .manga-content {
  display: flex;
  padding: 10px 0;
}

#carouselAnime, #carouselManga {
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
}

.item {
  cursor: pointer;
  width: 130px;
  height: 210px;
  margin: 5px;
  border-radius: 5px;
  transition: 0.5s;
}

.item:hover { 
  transition: all 0.5s ease;
  transform: scale(1.10);
}

.anime-content button, .manga-content button{
  border: none;
  background-color: transparent;
}


.fas-carousel {
  font-size: 70px;
  color: white;
}

/* NEW - ASIDE RIGHT */
.news-content {
  margin: 55px 0 0 0;
  display: flex;
  justify-content: space-around;
}

.news {
  width: 32%;
  height: 550px;
  background-color: var(--primary-black);
  margin-bottom: 10px;
  padding: 25px;
  color: var(--primary-white-font);
}

.item__list {
 display: flex;
 padding: 3px;
 margin: 10px 0;
}

.item__rank {
  font-size: 22px;
  color: var(--primary-purple);
  display: none;
}

.top__img {
  width: 60px;
  height: 80px;
  margin-left: 5px;
}

.item__list h3 {
  font-size: 15px;
  font-weight: bold;
}

.item__infos {
  margin-left: 10px;
}

.item__title {
  color: var(--primary-purple);
  font-weight: 900;
  transition: 0.5s;
}

.item__title:hover {
  color: violet;
}

.infos  {
  font-size: 12px;
  font-style: italic;
}

.list-character {
  display: inline;
  color: var(--primary-purple);
  font-weight: 900;
  transition: 0.5s;
}

.list-character:hover {
  color: rgb(255, 0, 255);
  font-size: medium;
}

.anime-card-title {
  color: black;
}

.anime-card-title:hover {
  color: rgb(115, 66, 228);
}

.footer {
  background: rgb(32, 32, 36);
  margin-top: 4rem;
  padding: 10px;
  font-size: 0.9em;
  text-align: center;
}

.footer p {
  margin: 0;
}

/* SEARCHED ANIME-MANGA */
.searched-div {
  display: flex;
  width: 92%;
  flex-flow: row;
  height: fit-content;
  align-items: center;
  background: rgb(32, 32, 36);
  font-size: 0.9em;
  margin: 20px auto;
  border-radius: 3px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.637);
}

.image__search, .image__character {
  width: 160px;
  border-radius: 3px 0 0 3px;
  border: 2px solid var(--primary-purple);
}

.font-weight {
  font-weight: bold;
}

.text-infos {
  flex-grow: 1;
  padding: 10px 10px 0 10px;
}

.name-person {
  font-size: 1.3em;
  font-weight: bold;
}

.animes-p-tag {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: -5px;
}

.mangas-p-tag {
  font-weight: bold;
  font-size: 1.2em;
  margin-top: 10px;
  margin-bottom: -5px;
}

.div-person {
  padding: 10px;
  display: flex;
  flex-grow: 1;
}


@media screen and (max-width: 800px) {

  .content-left {
    width: 100%;
  }

  .main-content {
    flex-direction: column;
    width: 100%;
  }

  .news {
    width: 100%;
  }

  .news-content {
    flex-direction: column;
  }

  .input-group>.form-control, .input-group>.form-select {
    width: 25%;
  }

  .sign-up-desktop {
    display: none;
  }

  .header {
    height: 60px;
    padding: 0;
  }

  .aside-menu {
    height: calc(100vh - 8%);
    top: 60px;
  }
  
  .header-container.active .aside-menu {
    visibility: visible;
    width: 100%;
  }

  .search-container {
    padding: 30px;
  }
}

/* TELA DE LOGIN  */
.form-sign-in {
  width: 100%;
  height: 90vh;
  background: rgb(32, 32, 36);
  padding: 64px;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.801);
  display: flex;
  flex-flow: column;
}

.form-sign-in a  {
  display: flex;
  justify-content: center;
}

.input-login {
  height: 50px;
  padding: 10px 15px;
  margin-bottom: 10px;
  color: rgb(228, 228, 231);
  font-size: 0.98em;
  outline: 0;
  background: var(--primary-black);
  border-radius: 5px;
  border: 2.5px solid var(--primary-black);
  transition: all 0.2s ease-out;
}

.input-login:focus {
  border: 2.5px solid var(--primary-purple);
}

.forgot-password {
  font-size: 0.9em;
  color: var(--primary-purple);
  font-weight: 800;
  margin-top: -5px;
  margin-bottom: 25px;
  transition: all 0.2s ease-out;
  line-height: 1.5em;
  letter-spacing: -0.3px;
}

.forgot-password:hover {
  color: rgb(143, 107, 228);
  cursor: pointer;
}

.btn-login {
  width: 100%;
  height: 50px;
  font-size: 1em;
  font-weight: 900;
  margin-bottom: 30px;
  background: var(--primary-purple);
  color: var(--primary-white-font);
  letter-spacing: -0.8px;
  text-transform: uppercase;
  border-radius: 5px;
  outline: none;
  border: none;
}

.btn-login:hover {
  background: rgb(126, 81, 231);
  cursor: pointer;
}

/* ENTRAR - REGISTRAR-SE */
.login-register {
  text-align: center;
}

.login-register .not-account {
  font-size: 0.9em;
}

.login-register .not-account a {
  text-decoration: none;
  font-weight: 600;
  color: var(--primary-purple);
}

.login-register .not-account a:hover {
  color: rgb(126, 81, 231);
  cursor: pointer;
}

@media screen and (max-width: 600px) {

  .cancel-toggle-search {
    display: none;
    border: none;
    background-color: transparent;
    padding: 0.5rem 1rem;
    font-size: x-large;
    color: white;
  }

  .toggle-search {
    display: block;
    padding: 0.5rem 1rem;
    font-size: x-large;
    color: white;
    border: none;
    background-color: transparent;
  }

  .logo {
    display: none;
  }

  .logo-mobile {
    display: block;
  }

  .search-container {
    display: none;
    padding: 0;
  }

  .search-show .search-container{
    display: flex;
  }

  .header.search-show {
    justify-content: space-evenly;
  }

  .header.search-show .logo-mobile {
    display: none;
  }

  .search-show .toggle-search {
    display: none;
  }

  .search-show #btn-hamburguer {
    display: none;
  }

  .search-show .cancel-toggle-search {
    display: block;
  }

}
