#foto {
    align-content: center;
}
body {
    background-image: linear-gradient(#F6D6AD, #e48f80);
}
h1 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.photo {
    align-items: center;
    width: 400px;
    border-radius: 30%;
    padding: 10mm;
}

.whoIAm {
    background-image: linear-gradient(#FDFFBC, #FFEEBB);
    border-radius: 2%;
    display: flex;
    align-items: center;
}

.description {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: none;
    color: #494949;
}
.bold-text {
    font-weight: bold;
}

.description-title {
    font-family: sans-serif;
    left: 400px;
    bottom: 450px;
    font-size: 50px;
}


.hardskills {
    padding: 30px;
    font-size: 30px;
    background-image: repeating-linear-gradient(#F9C0C0, #f59797);
    border-radius: 3%;
    font-family: sans-serif;
    margin-bottom: 30px;
    display: flex;
}
.softskills {
    padding: 30px;
    font-size: 30px;
    background-image: repeating-linear-gradient(#CCF6C8, #b4eeaf);
    border-radius: 3%;
    font-family: sans-serif;
}

.hardskills-title {
    font-size: 50px;
    color: rgb(48, 0, 0);
}

.softskills-title {
    font-size: 50px;
    color: rgb(0, 48, 0);
}

.hardskills-li {
    color: rgb(61, 0, 0);
}

.softskills-li {
    color: rgb(0, 70, 3)
}

.coding-image {
    width: 350px;
    align-items: center;
    margin-top: 100px;
}

.lists-hardskils-c {
    width: 810px;
}

.github {
    background-color: #C490E4;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
    margin-right: 10px;
}
.github:hover, .linkedin:hover {
    background-image: linear-gradient(rgb(47, 0, 77), #6900aa);
    color: #ffffff;
}

.linkedin {
    background-color: #C490E4;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
}
