#foto {
    align-content: center;
}
body {
    background-image: linear-gradient(#FFC1B6, #e48f80);
}

.photo {
    align-items: center;
    width: 400px;
    border-radius: 30%;
    padding: 10mm;
    
}

.whoIAm {
    background-image: linear-gradient(#FDFFBC, #FFEEBB);
    border-radius: 2%;
    display: flex;
    align-items: center;
}

.description {
    left: 440px;
    bottom: 400px;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #494949;
}

.description-title {
    font-family: sans-serif;
    left: 400px;
    bottom: 450px;
    font-size: 50px;
}