* {
  padding: 0;
  margin: 0;
  border: none;
  font-family: sans-serif;
}

body {
  background-image: url('images/background.jpg');
  background-size: cover;
  backdrop-filter: blur(5px);
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 8px 25px;
  align-items: center;
  color: white;
  background-color: rgb(50, 167, 145);
}

.trybewarts-header-logo {
  width: 60px;
}

.trybewarts-login {
  display: flex;
}

main {
  display: flex;
  margin: 2%;
}

#evaluation-form {
  display: flex;
  background-color: rgba(255, 255, 255, 0.493);
  box-shadow: 1px 1px 10px black;
  padding: 2%;
  border-radius: 5%;
  flex-direction: column;
  width: 675px;
}

.center-align {
  text-align: center;
}

.sections {
  margin: 2%;
  background-color: rgba(0, 0, 0, 0.116);
  padding: 15px;
  border-radius: 30px;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-control {
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  margin: 5px;
  width: 40%;
  border-style: none;
}

.input-control:focus {

  /* Descobri como remove outline pelo https://www.w3docs.com/ */
  outline: none;
  box-shadow: 0 1px 7px rgb(0, 255, 85);
}

#second-section {
  display: flex;
  justify-content: space-around;
}

#content-items {
  width: 250px;
}

#trybewarts-forms-logo {
  height: 500px;
}

.third-section {
  display: flex;
  justify-content: space-around;
}

.fourth-section {
  display: flex;
  flex-direction: column;
}

.fourth-section p {
  align-self: flex-end;
}

#textarea {
  border-radius: 30px;
  margin: 2%;
  padding: 3%;
}

#textarea:focus {
  outline: none;
}

.button {
  padding: 10px;

  /* consultado em https://developer.mozilla.org/pt-BR/docs/Web/CSS/cursor */
  cursor: pointer;
  background: linear-gradient(35deg, blueviolet, rgb(183, 105, 255));
  color: white;
  border-radius: 10px;
}

.button:hover {
  box-shadow: 1px 1px 5px blueviolet;
}

.button:disabled {
  background: linear-gradient(35deg, rgb(70, 70, 70), rgb(139, 139, 139));
}

.agreement-checkbox {
  margin: 2%;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-top: 2%;
  color: white;
  background-color: hsl(266, 23%, 34%);
}

#infos {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: large;
  height: 80%;
  margin: auto 3%;
  background-color: rgba(0, 0, 0, 0.13);
  padding: 5%;
  border-radius: 30px;
}

#infos h1 {
  text-align: center;
  text-shadow: 1px 3px 1px black;
  color: white;
}
